%html
  %body
    %h1 Upload Data Informations from file
    %form(method="post" actiom="/import/upload" enctype='multipart/form-data')
      %input(type='file' name='timesheet_txt')
      %br
      %input(type='submit' value='Upload!')
